@charset "UTF-8";

body {
	margin:0;
	font-family: 'Roboto Condensed', sans-serif;
	background-image: url("../img/backgroud.jpg") !important;
	
}

canvas {
    position: absolute;
    top: 0;
	left: 0;
	opacity: 0.4;
}
 
h1 {
	 	  
	color:#333;
	font-weight:700;
	margin-top:125px;	 
	text-align:center;
	text-transform:uppercase;
	letter-spacing:4px;
	line-height:23px;
}

h1 span{
	list-style: none;
	color: black;
	animation: correr 1.2s linear infinite;
}

@keyframes correr {
	
	0%{
		color:#222;
		text-shadow:none;
	}
	8%{
		color:#222;
		text-shadow:none;
	}
	100%{
		color:lightblue;
		text-shadow: 0 0 20px aliceblue, 0 0 30px, #ffc0;
	}
}

h1 span:nth-child(1){
	animation-delay: 0.2s;
}
h1 span:nth-child(2){
	animation-delay: 0.6s;
}
h1 span:nth-child(3){
	animation-delay: 1.0s;
}
h1 span:nth-child(4){
	animation-delay: 1.4s;
}
h1 span:nth-child(5){
	animation-delay: 1.8s;
}
h1 span:nth-child(6){
	animation-delay: 2.2s;
}
h1 span:nth-child(7){
	animation-delay: 2.6s;
}
h1 span:nth-child(8){
	animation-delay: 3.0s;
}
h1 span:nth-child(9){
	animation-delay: 3.4s;
}
h1 span:nth-child(10){
	animation-delay: 3.8s;
}
h1 span:nth-child(11){
	animation-delay: 4.2s;
}
h1 span:nth-child(12){
	animation-delay: 4.6s;
}
h1 span:nth-child(13){
	animation-delay: 5.0s;
}
h1 span:nth-child(14){
	animation-delay: 5.4s;
}
h1 span:nth-child(15){
	animation-delay: 5.8s;
}

button {
	width: 15%;
	height: 7.5%;
    background: rgb(167, 212, 252);
    color: black;
	border: 0;
	margin: auto;
    border-radius: 0.8rem;
	cursor: pointer;
	opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
	text-decoration: none;
    transition: background-color 0.2s;
	margin-top: 3.2rem;
	font-size:17px;
	font-weight: bold;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}

#progress-content-section {
	width:90%;
	margin: auto;
	margin-top: 2.5%;
	background: #f3f3f3;
	opacity: 0.9;
	border-radius: 4px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#777;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content {
	display:block;
}

#form-create-theory {
	display: flex;
	align-items: center;
	justify-content: center;
}

#form-create-theory label {
	color: white;
	padding-top: 20px;
}

#form-create-theory input {
	width: 100%;
    height: 5.6rem;
	margin-top: 0.8rem;
	margin-bottom:0.8rem;
    border-radius: 0.8rem;
    background: white;
    border: 1px solid black;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

#form-create-theory textarea {
	width: 100%;
    height: 16rem;
    min-height: 8rem;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
    border-radius: 0.8rem;
    background: white;
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    resize: vertical;
    padding: 1.2rem 1.6rem;
    font: 1.6rem Archivo;
}


@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}

 